<template>
  <div class="chart">
    <div :class="errorMsgClass">{{ errorMsg }}</div>
    <div id="chartContainer" class="chart-container"></div>
  </div>
</template>

<script>
export default {
  name: 'chart',
  props: {
    data: Array
  },

  data() {
    return {
      correctChartData: true,
      errorMsg: 'Введите корректные данные'
    }
  },

  computed: {
    chartData() {
      let newData = this.$store.getters.chartData;

      if (typeof newData === 'string') {
        if (this.isJsonString(newData)) {
          newData = JSON.parse(newData)

          if (typeof newData === 'object') {
            this.correctChartData = true;
          } else {
            this.correctChartData = false;
          }
        } else {
          this.correctChartData = false;
        }
      } 
      return newData;
    },

    errorMsgClass() {
      return {
        'chart__error-msg': true,
        'chart__error-msg_hidden': this.correctChartData
      }
    }
  },

  
 
  mounted() {
    this.initCart()
  },

  watch: {
    chartData(newData, oldData) {
      if (this.correctChartData) {
        this.initCart()
      } else {
        console.log()
      }
    }
  },

  methods: {
    initCart() {
      let 
        Highcharts = require('highcharts'),
        self = this;

      // Load module after Highcharts is loaded
      require('highcharts/modules/exporting')(Highcharts);

      // Create the chart
      Highcharts.chart('chartContainer', { 
        chart: {
          renderTo: 'chartContainer',
          type: 'bar'
        },
        
        title: {
          text: ''
        },
        xAxis: {
          categories: [1, 4, 5, 6, 7]
        },
        yAxis: {
          min: 0,
          max: 100,
          title: {
            text: 'Процентное соотношение'
          }
        },
        legend: {
          enabled: false,
        },
        plotOptions: {
          series: {
            stacking: 'percent'
          }
        },
        series: self.chartData
      });
    },

    isJsonString(str) {
      try {
        JSON.parse(str);
      } catch (e) {
        return false;
      }
      return true;
    },

    showErroMsg() {

    }
  }
}
</script>

<style lang="scss">
.chart {

  &-container {
    width: 100%;
    height: 400px;
  }

  &__error-msg {

    opacity: 1;
    transition: opacity .3s;
    &_hidden {
      opacity: 0;
    }
  }
}
</style>
