<template>
  <div class="controller">
    <form class="controller-form">
      <textarea class="controller-form__textarea" 
        type="text" 
        id="data" 
        v-model="inputData">
      </textarea>
      <button class="controller-form__button" @click="submitHandler(inputData, $event)">
        Построить график
      </button>
    </form>
  </div>
</template>

<script>
export default {
  name: 'controller',
  props: {
    submitHandler: Function
  },

  data() {
    return {
      inputData: []
    }
  },

  mounted() {
    let data = this.$store.getters.chartData;
    this.inputData = JSON.stringify(data);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.controller {

  &-form {

    &__textarea {
      min-height: 200px;
      min-width: 400px;
    }
  }
}
</style>
