<template>
  <div class="page page-index">
    <controller 
      class="page-index-section page-index__controller"
      :submitHandler="updateChartData"/>

    <chart
      class="page-index-section page-index__chart"/>   

  </div>
</template>

<script>
import controller from '@/components/controller'
import chart from '@/components/chart'

export default {
  name: 'index',
  components: {
    controller,
    chart,
  },

  methods: {
    updateChartData(data, event) {
      this.$store.commit('updateChartData', data)
      event.preventDefault();
    }
  },
   
}
</script>

<style lang="scss">
.page-index {
  display: flex;
  &-section {
    width: 50%;
  }
  &__controller {

  }

  &__chart {

  }
}
</style>
